/* css of sidebar */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sidebar {
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(151, 226, 80);
  /* add box shadow */
  box-shadow: 0 0 10px rgb(86, 145, 31);
  overflow-x: hidden;
  text-align: center;
  padding-bottom: 2%;
}
.sidebar .logo-details {
  width: 90%;
  height: auto;
  align-items: center;
  display: inline-block;
}
.sidebar .button-sidebar {
  width: 80%;
  height: 11%;
  overflow: hidden;
  align-items: center;
  display: inline-block;
  background-color: rgb(126, 145, 31);
  border-radius: 45px;
  box-shadow: inset;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  text-align: center;
}
.button-sidebar .button-sidebar-sub {
  width: auto;
  height: auto;
  overflow: hidden;
  display: inline-block;
  margin-top: 2%;
}
.button-auto p {
  font-size: 40px;
  color: rgb(94, 110, 9);
  font-weight: bold;
}
.logo-pioneer img {
  max-width: 90%;
  max-height: 90%;
}
/* end css of sidebar */
/* css main */
p {
  padding: 18px 0px;
  margin-right: 0px;
}
.label_auto {
  display: block;
  margin-top: 40px;
}
.button-input {
  display: flex;
}
.button-input > p {
  padding-left: 20px;
  flex: 1;
  text-align: right;
}
.button-input > div {
  padding-left: 20px;
  display: flex;
  flex: 1;
  /* margin-right: 20%; */
  align-items: center;
}

.main {
  height: 100%;
  width: 100%;
  margin-top: 57%;
  /* margin-left: 30%; */
  /* position: fixed;
  z-index: 1;
  top: 0;
  left: 0; */
  overflow-x: hidden;
  text-align: center;
  float: right;
}
.humidity {
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
  display: inline-block;
  text-align: center;
}
.SOIL_moisture {
  width: 100%;
  height: 100%;
  /* margin-left: 1%;
  margin-top: 1%; */
  overflow: hidden;
  display: block;
  text-align: center;
  /* float: left; */
  background-color: #99dbff73;

  box-shadow: 0 0 10px 0 #99dbff;
}
.Air_humidity {
  width: 100%;
  height: 100%;
  /* margin-right: 1%;
  margin-top: 1%; */
  overflow: hidden;
  display: block;
  text-align: center;
  /* float: right; */
  background-color: #99dbff73;
  box-shadow: 0 0 10px 0 #99dbff;
}
.tempurature {
  width: 100%;
  height: 100%;
  /* margin-left: 1%;
  margin-top: 1%; */
  overflow: hidden;
  display: block;
  text-align: center;
  float: left;
  background-color: #ffb0b073;

  box-shadow: 0 0 10px 0 #fdb0b0;
}
.light {
  width: 100%;
  height: 100%;
  /* margin-right: 1%;
  margin-top: 1%; */
  overflow: hidden;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  float: right;
  background-color: #f1ff7673;

  box-shadow: 0 0 10px 0 #f1ff76;
}
/* end css main */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar .button-sidebar {
    font-size: 18px;
  }
}
/* switch box */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.3s;
  box-shadow: 0 0 3px rgb(63, 60, 60);
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 2px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* 
input:checked + .slider {
  background-color: rgb(108, 126, 22);
}
input:focus + .slider {
  box-shadow: 0 0 1px rgb(63, 60, 60);
}
input:checked + .slider1 {
  background-color: #0084ce;
}
input:focus + .slider1 {
  box-shadow: 0 0 1px rgb(63, 60, 60);
}
input:checked + .slider2 {
  background-color: #ff0000;
}
input:focus + .slider2 {
  box-shadow: 0 0 1px rgb(63, 60, 60);
}
input:checked + .slider3 {
  background-color: #ffc90b;
} */
.slider0 {
  background-color: rgb(108, 126, 22);
}
.slider1 {
  background-color: #0084ce;
}
.slider2 {
  background-color: #0084ce;
}
.slider3 {
  background-color: #ff0000;
}
.slider4 {
  background-color: #ffc90b;
}
.slider4:before,
.slider3:before,
.slider2:before,
.slider1:before,
.slider0:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}
/* input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
} */
.on {
}
/* Rounded sliders */
.slider.round {
  border-radius: 45px;
}

.slider.round:before {
  border-radius: 100%;
}
/* end switch box */
/* chart */

#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 1.2em;
}
#svg #bar {
  stroke: #0084ce;
}
#cont {
  display: block;
  height: 90px;
  width: 90px;
  margin-left: 25%;
  border-radius: 100%;
  position: relative;
  margin-top: -1%;
}
#cont:after {
  position: absolute;
  display: block;
  height: 90px;
  width: 90px;
  left: 90%;
  top: 50%;
  content: attr(data-pct) "";
  margin-top: -30%;
  margin-left: -30%;
  border-radius: %00%;
  line-height: 160px;
  font-size: 2em;
  text-shadow: 0 0 0.5em #0084ce;
}

input {
  width: 20%;
  color: rgb(129, 22, 22);
  font-size: 1em;
  border-radius: 0;
  margin-top: 25%;
}

.chart-humSoil,
.chart-humAir,
.chart-tempAir,
.chart-light {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  padding: 0 30px 12px;
  cursor: pointer;
}
.chart-humSoil {
  color: #0084ce;
}
.chart-humAir {
  color: #0084ce;
}
.chart-tempAir {
  color: #ff0000;
}
.chart-light {
  color: #ffc90b;
}

/* Make things perty */

/* enc chart */
.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; /*cái này và 2 cái dưới là của flex box dùng để căn giữa element*/
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
  animation: modalOpen ease 0.5s;
}
.modal.close {
  display: flex;
  animation: modalclose ease 0.5s;
}
.modal-container.open {
  animation: modal-containerFaceIn ease 0.5s;
}
.modal-container.close {
  animation: modal-containerclose ease 0.5s;
}
.modal-container {
  background-color: white;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 500px;
  position: relative;
}

@keyframes modal-containerFaceIn {
  from {
    transform: translateY(-300px);
    opacity: 0.2;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes modal-containerclose {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-300px);
    opacity: 0;
  }
}
@keyframes modalclose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modalOpen {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
